@font-face {
    font-family: 'MyFont';
    src: url('./CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Bold.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MyFont';
    src: url('./GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf') format('otf');
    font-weight: bold;
    font-style: normal;
  }