/* Main.css */
#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* text-align: center; */
    background-color: black;
    padding: 30px;
    padding-bottom: 100px;
    height: fit-content;
    /* text-align: center; */
    margin-top: -30px;
    border-radius: 30px;
  }
  
  #aboutH {
    /* color: #333; */
    color: wheat;
    /* position: relative; */
    /* left: -500px; */
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 800;
    opacity: 0.6;
    transform: translateY(30px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 2.2s;
    transition: 1s;
  }

  @media (width < 600px){
    #aboutH{
      /* width: 100px; */
      font-size: 50px;
      font-weight: 800;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  

  #aboutDiv{
    max-width: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    justify-content: flex-start;
    flex-wrap:wrap;
    overflow: visible;
  }

  #meImg{
    width: 800px;
    height: 500px;
    margin-right: 10%;
    object-fit: cover;
    transition: 1s;
  }

  @media (width < 600px){
    #meImg{
      margin-left: 0%;
    }
  }

  #aboutP {
    /* color: #666; */
    color: wheat;
    opacity: 0.7;
    width: 500px;
    margin-top: -100px;
    font-size: 22px;
    font-weight: 500;
    transition: 1s;
  }

  @media (width < 600px){
    #aboutP{
      color: #c2c2c2;
      max-width: 400px;
      margin-top: -400px;
      /* margin-left: 200px; */
      /* position: relative;
      left: -150px; */
    }
  }