/* Main.css */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 30px;
    height: 100vh;
  }
  
  .logo {
    width: 30px; 
    height: auto; 
    position:absolute;
    top: 30px;
    left: 30px;
    transition: transform 0.3s ease;
  }

  .logo:hover {
    transform: rotate(90deg);
  }

  .menu{
    width: 30px; 
    height: auto; 
    position:absolute;
    top: 30px;
    right: 30px;
  }
  
  #main-content {
    color: #fff;
    margin-top: 200px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .main-container h1, h2 {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.5s forwards;
    animation-delay: 2.2s;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .main-container h2 {
    animation-delay: 2.4s;
  }